<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="749ee9">  <td>19/02/17 12:09:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario2.beforeMethod()[pri:0, instance:CSVGeneration.Scenario2@d2cc05a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@87765719</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>19/02/17 12:10:08</td>   <td>18176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario2.f()[pri:0, instance:CSVGeneration.Scenario2@d2cc05a]">f</td> 
  <td>main@87765719</td>   <td></td> </tr>
<tr bgcolor="749ee9">  <td>19/02/17 12:11:23</td>   <td>93393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Scenario2.afterMethod()[pri:0, instance:CSVGeneration.Scenario2@d2cc05a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@87765719</td>   <td></td> </tr>
</table>
