<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbc1e0">  <td>19/02/17 11:23:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Scenario1.beforeMethod()[pri:0, instance:PomConstant.Scenario1@457e2f02]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1476394199</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>19/02/17 11:23:59</td>   <td>23355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Scenario1.f()[pri:0, instance:PomConstant.Scenario1@457e2f02]">f</td> 
  <td>main@1476394199</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>19/02/17 11:25:21</td>   <td>105258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Scenario1.afterMethod()[pri:0, instance:PomConstant.Scenario1@457e2f02]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1476394199</td>   <td></td> </tr>
</table>
